{$PUBLIC_DOMAIN} {
	encode zstd gzip

	route {
		@blocked_api path /api/metrics /api/docs /api/redoc /api/openapi.json
		respond @blocked_api 404

		handle_path /api/* {
			reverse_proxy api:8000
		}

		handle {
			root * /srv/frontend
			try_files {path} /index.html
			file_server
		}
	}
}
